Source: mcpp
Section: devel
Priority: optional
Maintainer: NIIBE Yutaka <gniibe@fsij.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: mcpp
Architecture: any
Depends: ${shlibs:Depends}
Description: Matsui's CPP implementation precisely conformed to standards
 MCPP is Kiyoshi Matsui's C preprocessor, another implementation of C
 preprocessor, which expands macros and includes for C compiler.  This
 is useful debugging program which use complecated macros. It supports
 multiple standards: K&R, ISO C90, and ISO C99.
